.App{
  padding: 20px
}

.ttt{
  border: 1px solid black;
}

.title{
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
}

.container{
  padding: 0 !important;
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.add-box{
  padding: 20px;
  width: 100%;
}

.list-box{
  padding: 20px;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
}

.count{
  padding: 10px 0px;
}

.contacts{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;

}

.friend{
  width: 100%;
  height: 90px;
  display: flex;
  padding: 5px;
  gap: 10px;
  align-items: center;
}

.friend img{
  height: 100%;
  width: 80px;
  min-width: 80px;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
}

.name-number{
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1px;
  justify-content: center;
  border-bottom: 1px solid rgba(132, 132, 132, 0.507);
}

.search-bar{
  position: relative;
}
.clearSearchBtn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

@media (min-width: 768px){
  .container{
    max-width: 1000px !important;
    height: 80vh;
  }
  .add-box{
    width: 50%;
  }
  .list-box{
    width: 50%;
    height: 100%;
  }
  .contacts{
    overflow: auto;
  }
}